body{

    background-color: #E6E6E6;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Wtxf45wJyqFxO68c6OcPHFrHXlkEhZQx5_TusRGD6tcKYW2m");
    background-repeat: no-repeat;
    background-size: 75%;
    opacity: 1.0;

}
a{
    color: black;
    font-weight: bolder
}
a:hover{
    color: red;
    background: yellow;
}