{% extends 'base.html' %}

{% block body %}

    <form action="/create_view2/" enctype="multipart/form-data" method="POST" >

        {% comment %}
            csrf_token is a randomly generated string of text that the server uses to confirm that the form was creaed by the django server and not a 3rd party / outside website, application or other data source.
        {% endcomment %}
        {% csrf_token %}    

        {{ form.as_p }}

        <input type="submit" value="Create Object" />

    </form>

{% endblock %}